 
    .thumbnails{
      width: 100%;
    }
      
      .video-title{
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10px;
        
      }

      .video-info-grid,
      .video-profile{
      display: grid;
      grid-template-columns: 50px 1fr ;
    }
    .channel-picture{
      pointer-events: none;
      
    
      
    }    
     .profile-picture{
      width: 36px;
      border-radius: 50px;
      pointer-events: fill;
      cursor: pointer;
      
      
     
      

      
     }
     .thumbnails-row{
      margin-bottom: 8px;
      position: relative;
      
    

     }

     
      .video-author,
      .video-stats,
      .subscribers-stats{
       font-size: 12px;
        color: rgb(96, 96, 96); 
      }

      .video-author{
        margin-bottom: 4px;
      }

		.video-link {
       text-decoration: none;
      color: black;
		 pointer-events: fill;
	   }

		
		
		.channel-link {
       text-decoration: none;
      color: inherit;
		 pointer-events: fill;
		}



      
      .video-grid{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        column-gap: 16px;
        row-gap: 40px;
       

      }

      @media (max-width:750px) {
        .video-grid{
          grid-template-columns:1fr 1fr ;
        }

      }

            @media (min-width:751px) and (max-width:999px) {
        .video-grid{
          grid-template-columns: 1fr 1fr 1fr;    
        }
      }


    @media (min-width: 1000px) {
         .video-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
         }
      }



      .video-time{
        font-size: 12px;
        font-weight: 500;
        padding: 4px;
        border-radius: 2px;
        background-color: black;
        color: white;
        position: absolute;
        bottom: 8px;
        right:5px;
      }

      .video-profile-container{
        display: flex;
        justify-content: center;
        position: relative;
        pointer-events: none;
        

        
        
        

      }
      .video-profile-container .video-profile{
        position: absolute;
        background-color: rgb(244, 240, 240);
        margin-top: 40px;
        margin-right: -225px;
        padding: 15px 25px 7px 15px;
        border-radius: 2px;
        opacity: 0;
        transition:opacity 0.15s ;
        

    
      }
      .channel-name{
        margin-top: 0;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        
      }

      .channel-short-pics{
        margin-top: -2px;
      }
      .profile-short-pics{
        width: 45px;
      border-radius: 50px;
      
      }
   
      
     
      .video-profile-container:hover .video-profile{
        opacity: 1;
      }

